body {
    background-color: #e6ecf5b8
}

/* tiêu đề */
.size {
    width: 150px;
    height: auto
}

.header {
    height: 80px;
    background-color: #085a7a;
    min-height: 80px;
}

#search {
    font-size: 32px;
    color: white;
}

/* menu */
.menu {
    background-color: #1f2327;

}

.menu .list-group {
    background-color: #1f2327;
    border-radius: 0;
    text-align: left;
    padding-bottom: 500px;
}

.menu .list-group a {
    padding: 15px 40px;
}

.menu .list-group .list-group-item {
    background-color: #1f2327;
    color: white;
}

.menu .list-group .action:hover {
    background-color: #1ba1bf;
}

/*  */
.card-detail {
    background-color: white;
}

.title-share {
    border-bottom: 2px solid red;
}

.blog {
    margin: 2em 0;
    position: relative;
}

.blog .card img {
    width: 100%;
    height: 12em;
}

.blog .card-body {
    padding: 1em;
}

.item-view {
    color: #fff;
    position: absolute;
    right: 0px;
    background: #0aa1dd;
    height: 35px;
    width: 55px;
    text-align: center;
}

.list-card-vertical .item-view {
    top: 180px;
    transform: translate(10px);
}

.list-card-vertical .item-view:after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}
.list-card-vertical-right .item-view {
    transform: translate(10px);
}
.list-card-vertical-right .item-view:after {
    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, .5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}
.card-img-overlay {
    top: auto;
    bottom: 0;
    color: white;
    margin: 0;
    font-size: 15px;
    background-color: rgba(239, 230, 230, 0.1);
    background-size: cover;
}
.btn-primary{
    background-color: #0aa1dd;
}
.footer{
    background-color: white;
    font-size: 16px;
    display: block;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    max-height: 150px;
}
.card-footer{
    background-color: white;
    border: 0;
    margin: 0;
}
img.img-fluid.img-custom {
    height: 30px;
    width: auto;
}
/*icon*/
.icon-content {
    padding-top: 500px;
    float:30px ;
}